# Katrina Tang

## Research question/interests

**My part of the project will be looking further into the correlation between demographic, specifically age and sex, related to housing affordability.**

### I changed my research question to just focus on age demographic instead of both gender and age.

I will be analyzing he correlation with age ranges of 20-30, 40-50 and then 60-70 will be analyzed with respect to housing affordability.
I will be visualizing housing affordability by comparing the cost of homes to the demographics of home owners.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style='whitegrid', font_scale=2)

DailyInterestRate = pd.read_csv("../data/raw/DailyInterestRates/DailyInterestRates.csv")
NewHousingPIndex = pd.read_csv("../data/raw/NewHousingPIndex/NewHousingPIndex.csv")
NewInventory = pd.read_csv("../data/raw/NewInventory/NewInventory.csv", low_memory = False)
PopEstimate = pd.read_csv("../data/raw/PopEstimate/PopEstimate.csv")

In [3]:
NewHousingPIndex.info()
NewHousingPIndex.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60480 entries, 0 to 60479
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REF_DATE                   60480 non-null  object
 1   GEO                        60480 non-null  object
 2   DGUID                      58968 non-null  object
 3   New housing price indexes  60480 non-null  object
 4   UOM                        60480 non-null  object
 5   UOM_ID                     60480 non-null  int64
 6   SCALAR_FACTOR              60480 non-null  object
 7   SCALAR_ID                  60480 non-null  int64
 8   VECTOR                     60480 non-null  object
 9   COORDINATE                 60480 non-null  float64
 10  VALUE                      49654 non-null  float64
 11  STATUS                     27644 non-null  object
 12  SYMBOL                     0 non-null      float64
 13  TERMINATED                 0 non-null      float64
 14  DECIMALS                   60480 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 6.9+ MB

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1981-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,NaN,NaN,1
1,1981-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,NaN,NaN,1
2,1981-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,NaN,NaN,1
3,1981-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,NaN,NaN,1
4,1981-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,NaN,NaN,1
5,1981-01,Atlantic Region,2016A00011,Land only,"Index, 201612=100",347,units,0,v111955447,2.3,NaN,..,NaN,NaN,1
6,1981-01,Newfoundland and Labrador,2016A000210,Total (house and land),"Index, 201612=100",347,units,0,v111955448,3.1,NaN,..,NaN,NaN,1
7,1981-01,Newfoundland and Labrador,2016A000210,House only,"Index, 201612=100",347,units,0,v111955449,3.2,NaN,..,NaN,NaN,1
8,1981-01,Newfoundland and Labrador,2016A000210,Land only,"Index, 201612=100",347,units,0,v111955450,3.3,NaN,..,NaN,NaN,1
9,1981-01,"St. John's, Newfoundland and Labrador",2011S05031,Total (house and land),"Index, 201612=100",347,units,0,v111955451,4.1,36.1,NaN,NaN,NaN,1
10,1981-01,"St. John's, Newfoundland and Labrador",2011S05031,House only,"Index, 201612=100",347,units,0,v111955452,4.2,37.5,NaN,NaN,NaN,1
11,1981-01,"St. John's, Newfoundland and Labrador",2011S05031,Land only,"Index, 201612=100",347,units,0,v111955453,4.3,31.4,E,NaN,NaN,1
12,1981-01,Prince Edward Island,2016A000211,Total (house and land),"Index, 201612=100",347,units,0,v111955454,5.1,NaN,..,NaN,NaN,1
13,1981-01,Prince Edward Island,2016A000211,House only,"Index, 201612=100",347,units,0,v111955455,5.2,NaN,..,NaN,NaN,1
14,1981-01,Prince Edward Island,2016A000211,Land only,"Index, 201612=100",347,units,0,v111955456,5.3,NaN,..,NaN,NaN,1

In [4]:
# setting categorical data: this will be geography, price
NewHousingPIndex['Geography'] = NewHousingPIndex['GEO'].astype('category')
NewHousingPIndex['nhpi'] = NewHousingPIndex['New housing price indexes'].astype('category')

# setting datetime data
NewHousingPIndex['Date'] = pd.to_datetime(NewHousingPIndex['REF_DATE'])

In [5]:
PopEstimate.info()
PopEstimate.head(15)
PopEstimate.sample(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1351020 entries, 0 to 1351019
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   REF_DATE       1351020 non-null  int64
 1   GEO            1351020 non-null  object
 2   DGUID          1221990 non-null  object
 3   Sex            1351020 non-null  object
 4   Age group      1351020 non-null  object
 5   UOM            1351020 non-null  object
 6   UOM_ID         1351020 non-null  int64
 7   SCALAR_FACTOR  1351020 non-null  object
 8   SCALAR_ID      1351020 non-null  int64
 9   VECTOR         1351020 non-null  object
 10  COORDINATE     1351020 non-null  object
 11  VALUE          1351020 non-null  float64
 12  STATUS         0 non-null        float64
 13  SYMBOL         0 non-null        float64
 14  TERMINATED     0 non-null        float64
 15  DECIMALS       1351020 non-null  int64
dtypes: float64(4), int64(4), object(8)
memory usage: 164.9+ MB

,REF_DATE,GEO,DGUID,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
520573,2009,"Arnprior (CA), Ontario",2016S0504507,Females,68 years,Persons,249,units,0,v1060789954,56.3.84,66.0,NaN,NaN,NaN,0
227726,2004,"Medicine Hat (CA), Alberta",2016S0504805,Both sexes,20 years,Persons,249,units,0,v1060809477,116.1.27,1009.0,NaN,NaN,NaN,0
99518,2002,"Kenora (CA), Ontario",2016S0504598,Males,35 to 39 years,Persons,249,units,0,v1060803334,97.2.44,561.0,NaN,NaN,NaN,0
589486,2010,"North Bay (CA), Ontario",2016S0504575,Males,15 to 64 years,Persons,249,units,0,v1078824490,91.2.112,25530.0,NaN,NaN,NaN,0
1003244,2017,"Rimouski (CA), Quebec",2016S0504404,Females,81 years,Persons,249,units,0,v1060779080,23.3.100,206.0,NaN,NaN,NaN,0
1134835,2019,"Carleton Place (CA), Ontario",2016S0504509,Males,11 years,Persons,249,units,0,v1060790106,57.2.16,211.0,NaN,NaN,NaN,0
359530,2006,"Courtenay (CA), British Columbia",2016S0504943,Both sexes,32 years,Persons,249,units,0,v1060820381,149.1.41,476.0,NaN,NaN,NaN,0
560489,2010,"Kitchener - Cambridge - Waterloo (CMA), Ontario",2016S0503541,Males,77 years,Persons,249,units,0,v1060795465,73.2.95,1024.0,NaN,NaN,NaN,0
1039035,2017,"Yellowknife (CA), Northwest Territories",2016S0504995,Females,7 years,Persons,249,units,0,v1060824201,160.3.11,149.0,NaN,NaN,NaN,0
940173,2016,"Campbellton (CA), New Brunswick/Quebec",2016S0504330,Both sexes,39 years,Persons,249,units,0,v1060777489,19.1.49,155.0,NaN,NaN,NaN,0
1307831,2022,"Bathurst (CA), New Brunswick",2016S0504328,Females,41 years,Persons,249,units,0,v1060776722,16.3.52,180.0,NaN,NaN,NaN,0
1100175,2018,"Whitehorse (CA), Yukon",2016S0504990,Females,70 to 74 years,Persons,249,units,0,v1060823946,159.3.86,474.0,NaN,NaN,NaN,0
420783,2007,"Port Alberni (CA), British Columbia",2016S0504940,Males,Median age,Years,308,units,0,v1078826712,148.2.114,44.8,NaN,NaN,NaN,1
469533,2008,"Brandon (CA), Manitoba",2016S0504610,Females,85 to 89 years,Persons,249,units,0,v1060805154,102.3.104,540.0,NaN,NaN,NaN,0
713115,2012,"Sault Ste. Marie (CA), Ontario",2016S0504590,Both sexes,All ages,Persons,249,units,0,v1060802521,95.1.1,82217.0,NaN,NaN,NaN,0

In [6]:
# setting categorical data: this will be age group and geography
PopEstimate['Agegroup'] = PopEstimate['Age group'].astype('category')
PopEstimate['Geography'] = PopEstimate['GEO'].astype('category')

# setting datetime data
PopEstimate['Date'] = pd.to_datetime(PopEstimate['REF_DATE'])

# Data wrangling

I will be dropping columns that are not related to my research question.

In [7]:
nhpi_wrangled = NewHousingPIndex.drop(columns=['DGUID', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'], axis=1).reset_index()
nhpi_wrangled

,index,REF_DATE,GEO,New housing price indexes,UOM,VALUE,Geography,nhpi,Date
0,0,1981-01,Canada,Total (house and land),"Index, 201612=100",38.2,Canada,Total (house and land),1981-01-01
1,1,1981-01,Canada,House only,"Index, 201612=100",36.1,Canada,House only,1981-01-01
2,2,1981-01,Canada,Land only,"Index, 201612=100",40.6,Canada,Land only,1981-01-01
3,3,1981-01,Atlantic Region,Total (house and land),"Index, 201612=100",NaN,Atlantic Region,Total (house and land),1981-01-01
4,4,1981-01,Atlantic Region,House only,"Index, 201612=100",NaN,Atlantic Region,House only,1981-01-01
...,...,...,...,...,...,...,...,...,...
60475,60475,2022-12,"Vancouver, British Columbia",House only,"Index, 201612=100",126.8,"Vancouver, British Columbia",House only,2022-12-01
60476,60476,2022-12,"Vancouver, British Columbia",Land only,"Index, 201612=100",121.4,"Vancouver, British Columbia",Land only,2022-12-01
60477,60477,2022-12,"Victoria, British Columbia",Total (house and land),"Index, 201612=100",125.0,"Victoria, British Columbia",Total (house and land),2022-12-01
60478,60478,2022-12,"Victoria, British Columbia",House only,"Index, 201612=100",131.9,"Victoria, British Columbia",House only,2022-12-01
60479,60479,2022-12,"Victoria, British Columbia",Land only,"Index, 201612=100",110.8,"Victoria, British Columbia",Land only,2022-12-01

In [8]:
popestimate_wrangled = PopEstimate.drop(columns=['DGUID', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'], axis=1).reset_index()
popestimate_wrangled

,index,REF_DATE,GEO,Sex,Age group,UOM,VALUE,Agegroup,Geography,Date
0,0,2001,Canada,Both sexes,All ages,Persons,31020902.0,All ages,Canada,1970-01-01 00:00:00.000002001
1,1,2001,Canada,Both sexes,0 to 4 years,Persons,1754354.0,0 to 4 years,Canada,1970-01-01 00:00:00.000002001
2,2,2001,Canada,Both sexes,0 years,Persons,328494.0,0 years,Canada,1970-01-01 00:00:00.000002001
3,3,2001,Canada,Both sexes,1 year,Persons,345259.0,1 year,Canada,1970-01-01 00:00:00.000002001
4,4,2001,Canada,Both sexes,2 years,Persons,349563.0,2 years,Canada,1970-01-01 00:00:00.000002001
...,...,...,...,...,...,...,...,...,...,...
1351015,1351015,2022,Area outside census metropolitan areas and cen...,Females,0 to 14 years,Persons,6120.0,0 to 14 years,Area outside census metropolitan areas and cen...,1970-01-01 00:00:00.000002022
1351016,1351016,2022,Area outside census metropolitan areas and cen...,Females,15 to 64 years,Persons,12898.0,15 to 64 years,Area outside census metropolitan areas and cen...,1970-01-01 00:00:00.000002022
1351017,1351017,2022,Area outside census metropolitan areas and cen...,Females,65 years and older,Persons,762.0,65 years and older,Area outside census metropolitan areas and cen...,1970-01-01 00:00:00.000002022
1351018,1351018,2022,Area outside census metropolitan areas and cen...,Females,Median age,Years,26.6,Median age,Area outside census metropolitan areas and cen...,1970-01-01 00:00:00.000002022
1351019,1351019,2022,Area outside census metropolitan areas and cen...,Females,Average age,Years,28.9,Average age,Area outside census metropolitan areas and cen...,1970-01-01 00:00:00.000002022

I will now see if there are missing values in the newly wrangled data.

In [9]:
#generate preview of entries with null values
if nhpi_wrangled.isnull().any(axis=None):
    print("\nPreview of data with null values:\nxxxxxxxxxxxxx")
    print(nhpi_wrangled[nhpi_wrangled.isnull().any(axis=1)].head(3))
    missingno.matrix(nhpi_wrangled)
    plt.show()

Preview of data with null values:
xxxxxxxxxxxxx
   index REF_DATE              GEO New housing price indexes  \
3      3  1981-01  Atlantic Region    Total (house and land)
4      4  1981-01  Atlantic Region                House only
5      5  1981-01  Atlantic Region                 Land only

                 UOM  VALUE        Geography                    nhpi  \
3  Index, 201612=100    NaN  Atlantic Region  Total (house and land)
4  Index, 201612=100    NaN  Atlantic Region              House only
5  Index, 201612=100    NaN  Atlantic Region               Land only

        Date
3 1981-01-01
4 1981-01-01
5 1981-01-01

NameError: name 'missingno' is not defined